body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.content {
  min-height: 100vh;
  margin-left: 350px;
  background: #422e43;
  color: #ffffff;
}

@media only screen and (max-width: 760px) {
  .content {
    margin-left: 0;
  }
}
