/* nav */

.sidebar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  z-index: 0;
  background: #159e80;
  text-align: center;
}

.nav-content {
  margin-top: 150px;
}

li {
  list-style-type: none;
  margin: 2rem 0;
}

.topbar {
  display: none;
}

.close-hamburger {
  display: none;
}

.btn {
  text-decoration: none;
  color: #222222;
  border: 2px solid #222222;
  padding: 10px 15px;
  background: transparent;
}

.btn:hover {
  background: rgba(66, 46, 67, 0.363);
  cursor: pointer;
  /* color: white; */
}

.location-links {
  font-size: 1.3em;
  text-decoration: none;
  color: #202020;
  line-height: 2.5em;
}

.location-links:hover {
  color: #422e43;
}

@media only screen and (max-width: 760px) {
  .close-hamburger {
    display: block;
  }

  .topbar.closed {
    display: block;
    background: #159e80;
  }
  .topbar.open {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35%;
    padding-left: 2rem;
  }

  .closed.sidebar {
    display: none;
  }

  .open.sidebar {
    display: block;
    min-width: 100%;
  }
}
